@import "reset";

body {
    overflow: hidden;
    background: linear-gradient(to bottom right, #335, #533);
}

.button-left, .button-right {
    position: fixed;
    top: 0;
    bottom: 0;
    line-height: 100%;
    width: 100px;
    background: none;
    border: none;
    outline: none;
    color: rgba(#000,0.25);
    font-size: 4em;
    transition: ease 300ms;
    &:hover {
        background: rgba(#000,0.1);
    }
}

.button-left {
    left: 0;
}

.button-right {
    right: 0;
}